/* CORPS DE LA PAGE */

body {
    margin: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    font-family : Myriad Pro, "Lucida Grande", Helvetica, Arial, sans serif;

    background-color: whitesmoke;

    /* 	background-color: #CAE3D9; */

    /* 	background-image: url('../Images/background2AA.jpg'); */

    /*	background-color:#758272;		claire
        background-color:#ACCFC5;		Foncee
    */
    /*	background: #00C;																	/* Anciens browsers */
    /*	background: -moz-linear-gradient(top, #D6FFFF 0%,#00C 49%,#D6FFFF 100%); 			/* FF3.6+ */
    /*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6FFFF) , color-stop(49%,#00C) , color-stop(100%,#D6FFFF)); 	/* Chrome,Safari4+ */
    /*	background: -webkit-linear-gradient(top, #D6FFFF 0%,#00C 49%,#D6FFFF 100%);			/* Chrome10+,Safari5.1+ */
    /*	background: -o-linear-gradient(top, #D6FFFF 0%,#00C 49%,#D6FFFF 100%);				/* Opera 11.10+ */
    /*	background: -ms-linear-gradient(top, #D6FFFF 0%,#00C 49%,#D6FFFF 100%);				/* IE10+ */
    /*	background: linear-gradient(to bottom, #D6FFFF 0%,#00C 49%,#D6FFFF 100%); 			/* W3C */
    /*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000CC', endColorstr='#D6FFFF', GradientType=0 ); 	/* IE6-8 */

}


.table-bordered{
    border-collapse: separate;
    border-spacing: 4px;
    border:0px transparent;
}

/* MENU DE NAVIGATION (DESKTOP) */
nav {
    position:fixed; width:100%;
    margin:auto;
    background: -webkit-linear-gradient(top, #686868   0%,#0e0e0e 100%); /* Pour Chrome et Safari */
    background: -moz-linear-gradient(top, #686868   0%, #0e0e0e 100%); /* Pour Firefox */
    background: -o-linear-gradient(top, #686868   0%,#0e0e0e 100%); /* Pour Opera */
    background: -ms-linear-gradient(top, #686868    0%,#0e0e0e 100%); /* Pour IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* Pour IE6-9 */
    height: 67px;
}

/*	***********		DEBUT	 	MENU HAUT 		DEBUT		**********	*/
nav ul#menu_desktop {
    width:100%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

nav ul#menu_desktop li {
    display: inline;
    padding-right: 5%;
}

nav ul#menu_desktop li a {
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
}

nav ul#menu_desktop li#menu_menu {
    font-size: 1.2em;
}
/*
@media all and (max-width: 1261px) {
	nav ul#menu_desktop li a {		text-decoration: none;		color: green;		font-size: 18px;	}
}
@media all and (max-width: 1248px) {
	nav ul#menu_desktop li a {		color: blue;		font-size: 17px;	}
}
/@media all and (max-width: 1233px) {
	nav ul#menu_desktop li a {		font-size:16px;				color: green;	}
}
@media all and (max-width: 1150px) {
	nav ul#menu_desktop li a {		font-size:15px;	}
}
@media all and (max-width: 1105px) {
	nav ul#menu_desktop li a {		font-size:15px;	}
}
@media all and (max-width: 1017px) {
	nav ul#menu_desktop li a {		font-size:14px;	}
}
@media all and (max-width: 991px) {
	nav ul#menu_desktop li a {		font-size:13px;	}
}
*/
/* MENU DE NAVIGATION (TABLETTE) */
@media all and (min-width: 970px) {
    nav ul#menu_mobile, ul#menu_mobile_menu {
        display: none;
    }
}

@media all and (max-width: 970px) {
    nav {
        height: 40px;
        vertical-align:central;
    }
    nav ul#menu_desktop {
        display: none;
    }

    #menu_mobile_menu, #menu_mobile_menu ul {
        margin: auto;
        padding: 0;
        list-style: none;
        line-height: 40px;
        text-align: center;
    }

    #menu_mobile_menu {
        font-family: Arial;
        font-size: 0.5em;
        color: green;
    }

    #menu_mobile_menu a {
        display: block;
        color: grey;
        text-decoration: none;
        width: 300%;
    }

    #menu_mobile_menu li {
        float: left;
        border-right: 2px solid #fff;
    }

    html>body #menu_mobile_menu li {
        border-right: 1px solid transparent;
    }

    #menu_mobile_menu a:hover {
        color: #000;
        background: grey;
    }

    #menu_mobile, #menu_mobile ul {
        margin: auto;
        padding-left: 87%;
        list-style: none;
        line-height: 40px;
        text-align: center;
    }

    #menu_mobile {

        font-family: Arial;
        font-size: 1.2em;
    }

    #menu_mobile a {
        display: block;
        color: grey;
        text-decoration: none;
        width: 600%;
        text-align: center;
        cursor: pointer;
    }

    #menu_mobile li ul li a {
        width: 200%;
    }

    #menu_mobile li {
        float: left;
        border-right: 1px solid #fff;
    }

    html>body #menu_mobile li {
        border-right: 1px solid transparent;
    }

    #menu_mobile li ul {
        position: absolute;
        right: 9em;
        width: 144px;
        background: black;
        padding-left: 10px;
        padding-right: 150px;
    }

    #menu_mobile li ul li {
        border-top: 1px solid #fff;
        text-align: center;
    }

    html>body #menu_mobile li ul li {
        border-top: 1px solid transparent;
    }

    #menu_mobile a:hover {
        color: #000;
        background: grey;
    }

    #menu_mobile li:hover ul, #menu_mobile li.sfhover ul {
        right: 0;
        min-height: 0;
    }
}


/* MENU DE NAVIGATION(MOBILE) */

@media all and (max-width: 360px) {
    nav {
        height: 50px;
    }

    #menu_mobile_menu {
        margin: auto;
        font-size: 1em;
        line-height: 50px;
    }

    #menu_mobile_menu a {
        width: 150%;
    }

    #menu_mobile {
        line-height: 50px;
        margin-right: 42px;
        font-size: 0.8em;
    }

    #menu_mobile a {
        width: 300%;
        height: 50px;
    }

    #menu_mobile li ul {
        width: 90px;
        padding-right: 85px;
    }

    #menu_mobile li ul li {
        line-height: 50px;
    }
}

/*	*********** 	FIN		MENU HAUT 		FIN		**********	*/
/*	*********** 	FIN		MENU HAUT 		FIN		**********	*/
/*	*********** 	FIN		MENU HAUT 		FIN		**********	*/


/* SECTION PRINCIPALE HAUT (DESKTOP) */
#tour{
    width:100%;
    /* background-color: #FFF4D1;  */			/* W3C */
}
#section_haut {
    margin: auto;
    padding: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    text-align: center;
    background-color: transparent;
    width: 75%;
    border-radius: 10px;
    /* 	background: linear-gradient(to bottom, #EEEEEE 0%, #ADADAD 49%,#BCBCBC 100%); 			/* W3C */
}

#section_haut h1 {
    margin-top:2vw;
    margin-bottom: 2vw;
    padding: 1%;
    color : #428bca ;
    font-size: 3vw;
    text-shadow: 0px 4px 4px rgb(78, 78, 78);
}

#section_haut h2 {
    color : #428bca ;
    font-size: 2vw;
    text-shadow: 2px 1px 0px white;
}


#section_haut p {
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
}
#section_haut span {
    font-size: 1vw;
    font-weight:bold;
    color : black;
    margin:20px;
}

#section_haut form {
    padding-right:5vw;
}


/* SECTION PRINCIPALE HAUT (TABLETTE) */
@media all and (min-width: 360px) and (max-width: 1080px) {
    /*  #section_haut {        padding: 30px;    }
      #section_haut h1 {        margin-top: 5px;        margin-bottom: 0px;        font-size: 2.5em;    }
      #section_haut p {        font-size: 1.5em;        margin-top: 10px;    }
      */
}

/* SECTION PRINCIPALE HAUT (MOBILE) */
@media all and (max-width: 420px) {
    #section_haut {        width: 100%;    }
    /*  #section_haut h1 {        font-size: 2.5em;        margin-bottom: 0px;    }	*/
    /*  #section_haut img {        width: 75%;        height: 75%;    }				*/
    #section_haut p {        font-size: 1.1em;        margin-top: 5px;    }
}


/* SECTION PRINCIPALE BAS (DESKTOP) */
#section_bas {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    width: 85%;
    border-radius: 10px;
    /* 	background: linear-gradient(to bottom, #EEEEEE 0%, #ADADAD 49%,#BCBCBC 100%);			/* W3C */
}

#section_bas h3 {
    margin-top: 0px;
    text-align: center;
    font-size: 3vw;
    color: #428bca ;
    text-shadow: 0px 4px 4px rgb(78, 78, 78);
}

#section_bas .fonctionnalites {
    text-align: center;
    display: inline-block;
    border: solid grey 1px;
    border-radius: 10px;
    width: 35%;
    height: 4%;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 7%;
}

#section_bas .fonctionnalites h4 {
    font-size: 1.5vw;
    margin-top: 15px;
    margin-bottom: 20px;
}

#section_bas a .fonctionnalites {
    color: #fff;
    text-decoration: none;
    padding: 0px;
    border: 2px solid navy;
    border-radius: 5px;
    background-color: #428bca;
    text-shadow: 2px 2px 0px navy;
    text-align:center;
    vertical-align:central;
    font-size: 1.6vw;
    padding-bottom: 1%;
    padding-top: 1%;
    /*line-height:60px;*/
}
@media all and (max-width: 780px) {
    #section_bas a .fonctionnalites {
        font-size:2vw;
        width: 50%;
    }
}
@media all and (max-width: 650px) {
    #section_bas a .fonctionnalites { font-size:2vw;}
}
#section_bas a:hover .fonctionnalites {
    color: #6FF;
    border: 2px solid red;
}


/* SECTION PRINCIPALE BAS (TABLETTE) */
@media all and (min-width: 360px) and (max-width: 1080px) {
    /*   #section_bas {        padding: 30px;        width: 85%;    }
       #section_bas h3 {        margin-top: 5px;        font-size: 2.5em;    }
       #section_bas .fonctionnalites {        margin: auto;        width: 60%;        padding-bottom: 10px;        display: block;        margin-bottom: 20px;    }
       #section_bas .fonctionnalites a {        margin-bottom: 30px;    }
   */
}
/* SECTION PRINCIPALE BAS (MOBILE) */
@media all and (max-width: 420px) {
    #section_bas { width: 100%; }
    /*
      #section_bas h3 {        font-size: 1.5em;    }
       #section_bas .fonctionnalites {        margin: auto;        width: 46%;        margin-bottom: 5px;     }
       #section_bas .fonctionnalites {       margin-left: 8%;
       margin-right: 8%;        width: 46%;        margin-bottom: 5px;     }

       #section_bas .fonctionnalites h4 {        font-size: 1em;        margin-top: 5px;        margin-bottom: 10px;    }
       #section_bas .fonctionnalites a {        font-size: 1.8em;        padding: 2px;    }
       #section_bas .fonctionnalites span {        display: none;    }
   */
}


/* BAS DE PAGE (DESKTOP ET TABLETTE)*/
footer {
    line-height:60px;
    font-weight:bolder;
    font-size:1vw;
    color:grey;
    text-align: center;
    vertical-align:central;
    /* 	background: linear-gradient(to bottom, #BBBBBB 0%, #C4C4C4 49%, #E8E8E8 100%); 			/* W3C */
    text-shadow: 2px 2px 0px white;
    background-color: transparent;
}

/* BAS DE PAGE (MOBILE) */

@media all and (max-width: 360px) {
    footer {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.8em;
    }
}