/* Stacktable */
.stacktable.large-only {
  display: table; }

.stacktable.small-only {
  display: none; }

@media (max-width: 800px) {
  .stacktable.large-only {
    display: none; }
  .stacktable.small-only {
    display: table; }
  .stacktable.small-only:first-child {
    display: none; } }

.login-form img {
  max-width: 100%;
  height: auto; }

footer {
  margin: 30px;
  padding-top: 15px;
  position: absolute;
  bottom: 0px;
  border-top: solid 1px #ccc; }

h2 {
  text-align: center;
  padding-bottom: 50px; }

#upload-progress {
  opacity: 0; }

h1#beta {
  position: relative;
  left: 70px;
  top: -75px; }
  @media (max-width: 768px) {
    h1#beta {
      display: none; } }

.navbar-default {
  color: #BCC2CB;
  background: #444d58; }

.navbar-nav > .active > a {
  background: #3b434c;
  color: #a2abb7; }

.navbar-default .navbar-nav > li > a {
  color: #BCC2CB; }

.navbar {
  border-radius: 0px;
  border: 0px; }
  @media (min-width: 768px) {
    .navbar .visibleSmart {
      display: none; } }
  .navbar .navbar-home {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px; }
    @media (min-width: 768px) {
      .navbar .navbar-home {
        display: none; } }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: #55616f !important; }

.navbar-default .navbar-nav > .active > a {
  color: #f1f1f1;
  background: #4E5966; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f1f1f1;
    background: #4E5966; }

.page-header {
  margin-bottom: -20px !important; }
  .page-header .page-header-top .top-menu {
    margin: 0;
    padding: 0;
    float: none;
    position: absolute;
    top: 17px;
    right: 5px; }

.table .btn {
  margin-right: 2px; }
  @media (max-width: 768px) {
    .table .btn {
      margin-top: 2px;
      margin-left: 0px;
      margin-right: 2px;
      margin-bottom: 2px; } }
  .table .btn.btn-xs {
    padding: 4px 7px 5px 7px;
    font-size: 16px;
    line-height: 1.3; }
    .table .btn.btn-xs > i {
      font-size: 16px !important; }

.portlet > .portlet-title > .actions > .btn, .portlet > .portlet-title > .actions > .btn.btn-sm, .portlet > .portlet-title > .actions > .btn-group > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 2px; }

.portlet.light {
  margin-top: 10px; }

/* CSS POUR MOBILE */
@media (max-device-width: 768px) {
  .portlet.light > .portlet-title {
    text-align: center; }
    .portlet.light > .portlet-title .actions {
      float: none; }
  .btn, .btn-xs, .btn-sm, .btn-primary {
    margin: 2px; } }

/*# sourceMappingURL=global.css.map */
